# dependencies
node_modules/

# env files (very important)
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build / temp
dist/
build/
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# optional uploads (agar project me file upload hota hai)
uploads/